<p class="title">
  <%= @text %>
</p>

<p>
  cache: <%= Rails.cache.fetch('mq', expires_in: 2.hours) { Time.now } %>
</p>

<% @libraries.each do |library| %>
  <span>Library: <%= library.name %></span>
  <% library.documentations.each do |documentation| %>
    <div>doc: <%= documentation.name %></div>
  <% end %>
<% end %>

<div>
  <%= image_tag('home/mr_q.png', alt: 'MQ') %>
</div>