<p class="title">
  <%= @text %>
</p>

<span>
  MQ7ddddddddldklòdkdlòkddlòdldllòàl
</span>

<%= I18n.t('title2') %>

<p>
  cache: <%= Rails.cache.fetch('mq', expires_in: 2.hours) { Time.now } %>
</p>

<% @libraries.each do |library| %>
  <span><%= library.name %></span>
  <% library.documentations.each do |documentation| %>
    <div><%= documentation.name %></div>
  <% end %>
<% end %>

<div>
  <%= image_tag('home/mr_q.png', alt: 'MQ') %>
</div>